.logoContainer {
  display: flex;
  gap: 1rem;
  transition: transform 1s ease;
}

.shrinkLogoContainer {
  transform: scale(0.8);
}

.logoImage {
  width: auto;
  height: auto;
  opacity: 0;
  transition: opacity 0.5s ease, transform 0.5s ease;
}

.shrinkLogo {
  height: 80px;
}

.visible {
  opacity: 1;
}
