.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10;
  background-color: #004f47;
}

.logo {
  height: 80px;
  object-fit: contain;
}